/* Inner Block */
.toolbar__innerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

@media screen and (min-width: 768px) {
  .toolbar__innerBlock {
    justify-content: start;
  }
}

/* Curernt Date */
.toolbar__curerntDate {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 12px;
  width: 190px;
  height: 30px;

  color: #fff;
  background-color: #3e85f3;

  border: none;
  border-radius: 8px;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .toolbar__curerntDate {
    margin-right: 8px;
    font-size: 16px;
  }
}

/* Toggle Buttons < | > */
.toggleButtons {
  display: block;
}

.toggleButtons__previous,
.toggleButtons__next {
  display: inline-block;
  width: 32px;

  padding: 8px 12px;
  background-color: #fff;
  color: black;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(220, 227, 229, 0.5);
  cursor: pointer;
}

.toggleButtons__previous:hover,
.toggleButtons__next:hover {
  background-color: rgba(136, 165, 191, 0.48);
}

@media screen and (min-width: 768) {
  .toggleButtons__previous,
  .toggleButtons__next {
    width: 40px;
  }
}

.toggleButtons__previous {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.toggleButtons__next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
