.mainBlock__data {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  width: 335px;
  height: 470px;

  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(220, 227, 229, 0.5);
}

@media screen and (min-width: 768px) {
  .mainBlock__data {
    width: 704px;
    height: 720px;
  }
}

@media screen and (min-width: 1440px) {
  .mainBlock__data {
    width: 1087px;
    height: 625px;
  }
}

.gridСol {
  grid-column-start: var(--col);
}

.row__cell {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(220, 227, 229, 0.5);
  cursor: pointer;
}

.row__cell:hover {
  background-color: aliceblue;
}

.row__currentDate {
  position: absolute;
  top: 8px;
  right: 4px;

  width: 22px;
  height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 4px 6px;

  border: none;
  border-radius: 8px;
  background-color: transparent;

  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .row__currentDate {
    width: 27px;
    height: 26px;
  }
}

.row__currentDate:hover {
  background-color: #799cd0;
  color: #fff;
}

.row__currentDateActive {
  background-color: #3e85f3;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .row__currentDateActive {
    width: 24px;
    height: 24px;
    padding: 4px 8px;
  }
}

.row__number {
  color: #343434;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row__currentDate:hover .row__number {
  color: #fff;
}

.row__ActiveNumber {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .row__number {
    font-size: 16px;
    line-height: 18px;
  }
}

.tasks {
  margin-top: 33px;
}

@media screen and (min-width: 768px) {
  .tasks {
    margin-top: 58px;
  }
}

@media screen and (min-width: 1440px) {
  .tasks {
    margin-top: 40px;
  }
}

.tasks__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks__item:not(:first-child) {
  margin-top: 5px;
}

.tasks__container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 15px;

  border-radius: 8px;
  background: #ceeefd;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .tasks__container {
    width: 92px;
    height: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .tasks__container {
    width: 139px;
    height: 26px;
  }
}

.tasks__title {
  text-overflow: ellipsis;
  font-size: 7px;
  font-style: normal;
  font-weight: 700;

  line-height: 10px;
}

@media screen and (min-width: 768px) {
  .tasks__title {
    font-size: 14px;
    line-height: 18px;
  }
}

.tasks_threeDots {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 10px;
  border-radius: 8px;
  background-color: hsl(212, 13%, 82%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 'black';
  cursor: pointer;
}

.tasks_threeDots:hover {
  background-color: hsl(240, 2%, 61%);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .tasks_threeDots {
    width: 22px;
    height: 16px;
  }
}
