.calendar {
  padding: 0px 20px 52px 20px;
}

@media screen and (min-width: 768px) {
  .calendar {
    padding: 0px 32px 42px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .calendar {
    padding: 0px 32px 32px 32px;
  }
}

/* Calendar Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

/* Inner Block */
.toolbar__innerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

@media screen and (min-width: 768px) {
  .toolbar__innerBlock {
    justify-content: start;
  }
}

.toolbar__calendarRange {
  display: none;
}

@media screen and (min-width: 768px) {
  .toolbar__calendarRange {
    display: flex;
  }
}

/* Month/Day */
.toolbar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 76px;
  height: 34px;

  padding: 8px 16px;
  margin-top: 18px;

  color: #3e85f3;
  background-color: rgba(62, 133, 243, 0.2);

  border: 1px solid rgba(220, 227, 229, 0.5);

  color: #3e85f3;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .toolbar__buttons {
    margin-top: 0px;
    font-size: 16px;
  }
}

/* Active Button */
.toolbar__ActiveButton {
  background-color: rgba(227, 243, 255, 1);
}

.toolbar__monthButton {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid rgba(62, 133, 243, 0.2);
}

.toolbar__dayButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Curernt Date */

.toolbar__curerntDate {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 12px;
  height: 30px;

  color: #fff;
  background-color: #3e85f3;

  border: none;
  border-radius: 8px;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .toolbar__curerntDate {
    margin-right: 8px;
    font-size: 16px;
  }
}

/* Toggle Buttons < | > */
.toggleButtons {
  display: block;
}

.toggleButtons__previous,
.toggleButtons__next {
  display: inline-block;
  width: 32px;

  padding: 8px 12px;
  background-color: #fff;
  color: black;

  border: 1px solid rgba(220, 227, 229, 0.5);
}

@media screen and (min-width: 768) {
  .toggleButtons__previous,
  .toggleButtons__next {
    width: 40px;
  }
}

.toggleButtons__previous {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.toggleButtons__next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Calendar Range */
.calendarRange {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

@media screen and (min-width: 768px) {
  .calendarRange {
    display: none;
  }
}

.calendarRange__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 76px;
  height: 34px;

  padding: 8px 16px;
  margin-top: 18px;

  color: #3e85f3;
  background-color: rgba(62, 133, 243, 0.2);

  border: 1px solid rgba(220, 227, 229, 0.5);
}

/* Active Button */
.calendarRange__ActiveButton {
  background-color: rgba(227, 243, 255, 1);
}

.calendarRange__monthButton {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid rgba(62, 133, 243, 0.2);
}

.calendarRange__dayButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* MainBlock Day List */
.mainBlock__dayList {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 50px;

  background-color: #fff;
  color: black;

  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgba(220, 227, 229, 0.5);
  border-radius: 8px;
}

.day {
  color: #343434;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

.weekend {
  color: #3e85f3;
}

/* MainBlock Data */
.mainBlock__data {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  width: 100%;
  height: 470px;

  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(220, 227, 229, 0.5);
}

.mainBlock__data:first-child {
  background-color: red;
}

.grid–°ol {
  grid-column-start: var(--col);
}

@media screen and (min-width: 768px) {
  .mainBlock__data {
    height: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .mainBlock__data {
    height: 720px;
  }
}

.row__cell {
  position: relative;
  border: 1px solid rgba(220, 227, 229, 0.5);
}

.row__currentDate {
  position: absolute;
  top: 8px;
  right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  border-radius: 8px;
  background-color: transparent;
}

.row__currentDateActive {
  width: 24px;
  height: 24px;

  padding: 4px 6px;
  background-color: #3e85f3;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .row__currentDateActive {
    padding: 4px 8px;
  }
}

.row__number {
  color: #343434;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.row__ActiveNumber {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .row__number {
    font-size: 16px;
    line-height: 18px;
  }
}

.upperLeftCorner {
  border-top-left-radius: 6px;
}

.upperRightCorner {
  border-top-right-radius: 6px;
}

.bottomLeftCorner {
  border-bottom-left-radius: 6px;
}

.bottomRightCorner {
  border-bottom-right-radius: 6px;
}

.daylist__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
