.toolbar__calendarRange {
  display: none;
}

@media screen and (min-width: 768px) {
  .toolbar__calendarRange {
    display: flex;
  }
}

/* Month/Day */
.toolbar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 76px;
  height: 34px;

  padding: 8px 16px;
  margin-top: 18px;

  color: #3e85f3;
  background-color: #e3f3ff;

  border: 1px solid rgba(220, 227, 229, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.toolbar__buttons:hover {
  background-color: rgba(11, 104, 234, 0.2);
}

@media screen and (min-width: 768px) {
  .toolbar__buttons {
    margin-top: 0px;
    font-size: 16px;
  }
}

/* Active Button */
.toolbar__ActiveButton {
  background-color: #cae8ff;
}

.toolbar__monthButton {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid rgba(62, 133, 243, 0.2);
}

.toolbar__dayButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
