@import-normalize; /* bring in normalize.css styles */

@import url('./styles/fonts.css');

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter Tight', sans-serif;

  background-color: #ffffff;
  color: #171820;

  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
