.mainBlock__dayList {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 335px;
  height: 50px;

  background-color: #fff;
  color: black;

  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgba(220, 227, 229, 0.5);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .mainBlock__dayList {
    width: 704px;
    height: 46px;
    margin-left: unset;
    margin-right: unset;
  }
}

@media screen and (min-width: 1440px) {
  .mainBlock__dayList {
    width: 1078px;
  }
}

.daylist__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day {
  color: #343434;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

.weekend {
  color: #3e85f3;
}

.row__currentDate {
  position: absolute;
  top: 8px;
  right: 4px;

  width: 22px;
  height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 4px 6px;

  border: none;
  border-radius: 8px;
  background-color: transparent;

  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .row__currentDate {
    width: 27px;
    height: 26px;
  }
}

.row__currentDate:hover {
  background-color: #799cd0;
  color: #fff;
}

.row__currentDateActive {
  background-color: #3e85f3;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .row__currentDateActive {
    width: 24px;
    height: 24px;
    padding: 4px 8px;
  }
}

.row__number {
  color: #343434;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row__currentDate:hover .row__number {
  color: #fff;
}

.row__ActiveNumber {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .row__number {
    font-size: 16px;
    line-height: 18px;
  }
}
